[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "causalBatch"]
	path = causalBatch
	url = https://github.com/neurodata/causal_batch
[submodule "lolR"]
	path = lolR
	url = https://github.com/neurodata/lol
[submodule "mgc"]
	path = mgc
	url = https://github.com/neurodata/r-mgc
